apiVersion: v1
kind: ConfigMap
metadata:
  name: data-store-env
data:
  lf_c1_url: "de-1.cloudone.trendmicro.com:443"
  lf_c1_api_key: "xxx"
  lf_siem_host: "x.x.x.x"
  lf_siem_port: "514"
  lf_facility: "local3"
  lf_interval: "60"
  lf_overlap: "10"